body {
  margin: 0;
  background-color: #29738f;
  font-family: sans-serif;
  color: #f1e5d8;
  user-select: none;
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title {
  margin: 0 0 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  background-color: #6096aa;
}

.tasks {
  width: 30%;
  text-align: center;
  background: #cec2b8;
  border: 1px solid black;
  min-height: 130px;
}

.tasks:first-child {
  margin-right: 1rem;
}

.task {
  background-color: #7f6f62;
  padding: 1rem;
  margin: 0.5rem;
  /* border: 1px solid #000; */
  cursor: move;
}

.active {
  background-color: #f1e5d8;
  color: #7f6f62;
}
